<nav class="nav nav-pills nav-justified-center">
    <a class="nav-link" href="#" routerLink="/home">Home</a>
    <a class="nav-link" href="#">Longer nav link</a>
    <a class="nav-link" href="#">Link</a>
    <div class="btn-group hidden" *ngIf="exibirCadastros">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" routerLink="/incluir-cervejaria">Incluir Cervejaria</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="logOut()">LogOut</a>
            </div>
          </div>
          
    <button *ngIf="!exibirCadastros" class="btn btn-outline-primary" (click)="open(content)">Login</button>
  </nav>

    <!--Bootstrap with angular modal-->

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formulario" >
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="E-mail" formControlName="email">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Password" formControlName="senha">
                </div>      
              </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"(click)="login()">Logar</button>
        </div>
      </ng-template>